.bg{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2f4f74;
}

.title{
    color: #ffffee;
}

.question{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    color: #ffffee;
    margin: 5vh 0;
    /* padding: 1vh 1vw; */
    width: 46vw;
    font-size: 18px;
    border-bottom: 2px solid #ffffee;
}

.question-name{
    margin-left: 2vw;
}

.choices{
    /* margin-top: 2.5vh; */
    margin-right: 2vw;
    width: 20vw;
    display: flex;
    justify-content: space-between;
}