.bg{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2f4f74;
}

.question{
    display: flex;
    justify-content: space-between;
    color: #ffffee;
    margin: 5vh 0;
    width: 45vw;
    font-size: 18px;
    border-bottom: 2px solid #ffffee;
}

.question-name{
    margin-left: 2vw;
}

.choices{
    margin-right: 2vw;
    width: 20vw;
    display: flex;
    justify-content: space-between;
}
.choices input{
    margin-right: .5vw;
}