
/* module.cssを使用する際の注意点として、外部からのスタイル変更と併用できない */
/* 例えば、#topに対してのスタイル指定をjsの関数内で動的に指定する場合、module.css内での#topに対するスタイル指定は適応されない */

.top{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    z-index: -5;
}

.center{
    position: fixed;
    top: 17.5vh;
    left: 32.5vw;
    width: 35vw;
    height: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #ffffee;
    z-index: 1;
}

.top-left{
    position: fixed;
    top: -15vw;
    left: -15vw;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background-color: #209bda;
}

.top-right{
    position: fixed;
    top: -15vw;
    right: -15vw;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background-color: #efd819;
}

.bottom-left{
    position: fixed;
    bottom: -15vw;
    left: -15vw;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background-color: #ef6b4b;
}

.bottom-right{
    position: fixed;
    bottom: -15vw;
    right: -15vw;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background-color: #1eca21;
}

.center-left{
    position: fixed;
    bottom: 15vh;
    left: 17.5vw;
    width: 12.5vw;
    height: 12.5vw;
    border-radius: 50%;
    background-color: #77d5af;
}

.center-right{
    position: fixed;
    top: 15vh;
    right: 17.5vw;
    width: 12.5vw;
    height: 12.5vw;
    border-radius: 50%;
    background-color: #c352bc;
}


.title{
    font-family: 'Rubik', sans-serif;
    font-size: 3.75vw;
    color: #000000;
    z-index: 5;
}

nav{
    margin-top: 3vh;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2vw;
    z-index: 5;
}

.nav{
    font-size: 1.25vw;
    font-weight: bold;
}